/*
 * General typography and color pallet
 */
body{
  font-family: 'Open Sans', helvetica, sans-serif;
}

h1, h2, h3{
  font-family: 'Oswald', sans-serif;
}

 /*
  * Main Layout
  */
.container{
  width: 1300px;
  margin: 0 auto;
}

header{
  position: relative; /* for absolute children */
  background: #FFF url('https://unsplash.it/1300/530') no-repeat;
  background-size: cover;
  height: 523px;
}

header::before{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(28, 107, 174, 0.5);
}

/* Position these to bring them above overlay */
header nav, header h1, header h3 {
  position: relative;
}

nav {
  max-width: 1018px;
  margin: 0 auto;

  padding-right: 02.7504912%;
}

/* we need to clear the floats! */
nav::after {
  content: "";
  display: table;
  clear: both;
}

.branding {
  float: left;
  margin-top: 6px;
  margin-left: 14px;
}

.branding h2 {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 0 2px;
  letter-spacing: .2px;
  position: relative;
  top: -1px;
}

.branding h2 > span {
  position: relative;
  left: -2px;
  letter-spacing: 0;
}

.branding h2 > span > span {
  letter-spacing: -0.7px;
}

.branding img,
.branding h2 {
  vertical-align: middle;
}

.header-links {
  float: right;
  list-style: none;
  padding: 0;
  margin: 16px 0 0 0;
}

.header-links li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 11px;
  text-transform: uppercase;
  font-size: 15px;
}

.header-links li:first-child {
  position: relative;
  top: -1px;
}

.header-links li span {
  display: inline-block;
  transform: scaleY(1.5);
  font-weight: bold;
  letter-spacing: -0.5px;
}

.header-links li span,
.header-links li img {
  vertical-align: middle;
}

.header-links li img {
  margin-left: 4px;
  position: relative;
  top: 1px;
  right: 3px;
}

header h1,
header h4 {
  text-align: center;
}

header h1 {
  color: white;
  text-shadow: 0 2px 4px rgba(17, 52, 79, 1);
  text-transform: uppercase;
  margin: 150px 0 0 0;

  font-size: 104px;
  line-height: 104px;
  font-weight: 400;
  letter-spacing: -3px;
}

header h4 {
  font-weight: 400;
  margin: 0;
  font-size: 15px;
  letter-spacing: -1px;
}
/*blog section*/
.blog-body h1 {
  font-size: 61px;
  color: #003353;
  margin-bottom: 12px;
  margin-top: 64px;
}

.blog-body {
  float: left;
  width: 610px;
  margin-left: 140px;
  margin-right: 0;
}
.author-date div {
    position: relative;
    display: inline-block;
}

.author-date > div > img{
  border-radius: 100%;
  width: 22px;
  vertical-align: middle;
}

.author-date > div::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(28, 107, 174, 0.5);
    border-radius: 100%;
    width: 22px;
    }

.author-date span {
  color: #A6B7C3;
  font-size: 12px;
  display: inline-block;
}

.author-date span.author {
  color: #0069B6;
  text-decoration: none;
  margin-left: 7px;
  margin-right: 18px;
}

.author-date span.date-time {
  text-decoration: underline;
}

.article {
  margin-top: 28px;
}

.article p {
  color: #5C6870;
  line-height: 1.5;
}
.blog-body a{
  color: #A0B3C0;
}
.article a:hover {
    color: #0069B6;
    }

.inset-text {
  font-size: 30px;
  color: #0069B6;
  border-left: 2px solid lightgrey;
  padding-left: 17px;
  margin: 17px 0;
  padding-top: 19px;
  padding-bottom: 10px;
}

.blog-links{
  padding: 0;
}

.blog-links li {
  display: inline-block;
  margin: 0px 10px 0px 0px;
  align-items: center;
}

.blog-links li span {
  background-color: #97A8B5;
  color: #FFFFFF;
  font-size: 12px;
  padding: 9px 12px;
  margin: 0;
}

.blog-links i {
  background-color: #566168;
  color: #FFFFFF;
  font-size: 16px;
  padding: 9px;
  margin: 0;
  vertical-align: middle;
}

.blog-links li:hover > i{
  background-color: #003353;
}
.blog-links li:hover > span {
  background-color: #0069B5;
}

/*===========sidebar section*=========*/
.sidebar {
  float: right;
  width: 275px;
  margin-left: 70px;
  margin-right: 162px;
}

.profile-circle{
  position: relative;
}
.profile-circle img{
  border-radius: 100%;
  width: 83px;
  margin: 80px 97px 0px 97px;
}

.sidebar-top > div::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(28, 107, 174, 0.5);
    border-radius: 100%;
    width: 83px;
    margin: 80px 97px 0px 97px;
    }

h6 {
  margin-top: 16px;
  margin-bottom: 10px;
  color: #0069B7;
}

.profile-links {
  font-size: 10px;
  color: #A6B7C3;
  text-align: center;
  padding: 0;
}

/*ad section*/

.ad {
  position: relative;
  margin-top: 54px;
  margin-bottom: 50px;
}

.ad-image {
  height: 300px;
}

.ad > div::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(28, 107, 174, 0.5);
}

p.ad-about {
  margin-top: 6px;
}

.ad-about a{
  font-size: 13px;
  color: #A6B7C3;
  position: absolute;
  right: 0;
}

.ad-about a:hover {
  color: #0069B6;
}

h5 {
  color: #0069B6;
  font-size: 18px;
  font-family: 'Oswald';
  margin-top: 70px;
  margin-bottom: 15px;
}

.blog::after {
  content: "";
  display: table;
  clear: both;
}

.blog {
  margin-bottom: 50px;

}

h6 {
  text-align: center;
}

.profile-links li{
  display: inline;
  text-align: middle;
  font-size: 12px;
  margin-right: 16px;
}

.sidebar-text {
  font-size: 13px;
  color: #A0B3C0;
  line-height: 1.5;
}

.sidebar-text a {
  color: #A0B3C0;
}
.sidebar-text a:hover {
    color: #0069B6;
    }

/*========bottom pop posts and box section========*/
.popular-posts h1 {
  font-size: 58px;
  color: #003353;
  text-align: center;
}

.box1 {
  display: inline-block;
  float: left;
  width: 25%;
  }

.box2 {
  display: inline-block;
  float: left;
  width: 25%;
  }

.box3 {
   display: inline-block;
   float: left;
   width: 25%;
   }

.box4 {
    display: inline-block;
    float: left;
    width: 25%;
    }

.posts-box{
    position: relative;
    transition: background-color 0.1s ease;
    width: 100%;
    overflow: hidden;
    height: 324px;
    }

.posts-box > div::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(28, 107, 174, 0.5);
    }

.posts-box > div:hover::after {
    display: none;
    }

.posts-box > div:hover > h1 {
    color: white;
    }

.box1, .box2, .box3, .box4 {
  position: relative;
}

.posts-box h1 {
  position: absolute;
  bottom: 0px;
  left: 20px;
  margin-bottom: 10;
  font-size: 29px;
  text-align: left;
  text-transform: uppercase;
}

.posts-box::after {
    content: "";
    display: table;
    clear: both;
  }

.popular-posts {
  border-top: 1px solid lightgrey;
}

footer {
  background-color: #003353;
  font-size: 12px;
  position: relative;
  padding: 40px 164px;
}

.copyright {
  color: #A0B3C0;
}

.bottom-nav li {
  color: #A0B3C0;
  display: inline;
  border-right: 1px solid #A0B3C0;
  padding: 0px 8px;
}

.bottom-nav li:nth-child(4n) {
  border-right: 0px;
}

footer > ul {
  display: inline-block;
  position: absolute;
  right: 164px;
  top: 54px;
}

footer > img {
  vertical-align: middle;
}
